//All styles can be added here.

// RESET DEFAULT STYLES
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // transition: all 300ms ease;
}

img {
  max-width: 100%;
  display: block;
}

// CUSTOM SCROLLBAR
::-webkit-scrollbar {
  @apply w-1 lg:w-2;
}

::-webkit-scrollbar-track {
  @apply bg-primary-bg;
}

::-webkit-scrollbar-thumb {
  @apply gradient-bg rounded-sm;
}

body {
  font-family: "DM Sans", sans-serif;

  @apply overflow-x-hidden text-white pt-0 min-1340:pt-32;
}

.bg-image {
  background-image: url("/img/bg_lines.png");
  background-size: cover;
  background-repeat: repeat-y;
  @apply fixed inset-0 -z-10 bg-primary-bg;
}

.section-title-observer {
  @apply absolute -top-14 -left-28 text-8xl font-bold z-10 text-[#232424] min-1340:block hidden;
}

// <!-- Header / Navs -->
.hamburger-menu {
  @apply cursor-pointer;
}

// <!-- PROFILE SECTION -->

.logo-container {
  @apply min-w-max flex items-center res-header-height sidebar-width-pl bg-heading-color border-r border-[#353535];
}

.left-sb {
  @apply relative isolate sidebar-width flex flex-col items-center justify-center gap-y-8 xl:gap-y-11;
}

.left-sb > li > a > img {
  @apply w-6 xl:w-full;
}

.navs {
  @apply justify-between items-center bg-heading-color hidden md:flex;
}

.social-media-icons {
  @apply flex justify-center items-center gap-x-2 lg:gap-x-4 py-3 pb-4;
}

// <!-- RIGHT SIDEBAR -->

.locale-container {
  @apply space-y-3;
}

.locale-container > .locale-icon {
  @apply w-8 h-8 rounded-full grid place-items-center font-bold bg-[#343434] text-xs cursor-pointer;
}

.locale-icon-active {
  @apply gradient-bg;
}

.section-title {
  @apply largest-text mb-10;
}

// SKILLS SECTION
.skill-title {
  @apply flex justify-between mb-2;
}

.skill-progress {
  @apply h-2 md:h-4 w-full bg-[#5a3f1c] rounded-lg;
}

// PORTFOLIO SECTION
.portfolio-menu {
  @apply bg-black flex justify-center flex-wrap rounded-md md:rounded-xl drop-shadow-xl mb-6;
}

.portfolio-menu > .p-item {
  @apply cursor-pointer relative py-2 md:py-5 px-3;
}

.portfolio-menu > .p-item::after {
  content: "";
  @apply absolute bottom-0 inset-x-0 h-1 w-full gradient-bg opacity-0;
}

.portfolio-menu > .p-item:hover::after {
  @apply opacity-100 transition-all duration-300;
}

.masonary-grid-container {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-5;
}

.masonary-grid-col {
  @apply grid gap-5;
}

.masonary-grid-blog-col {
  @apply flex flex-col gap-y-10;
}

.masonary-grid-item {
  @apply relative;
}

.masonary-grid-item > .cover-img {
  @apply object-cover w-full;
}

.masonary-grid-item-action {
  @apply absolute grid place-items-center text-center inset-0 z-10 opacity-0;
}

.masonary-grid-item-action:hover {
  @apply bg-slate-900/80 opacity-100 transition-all duration-300;
}

//  <!-- PRICING SECTION -->

.pricing-container {
  @apply grid lg:grid-cols-2 gap-6;
}

.pricing-container > .pricing-card {
  @apply bg-black py-6 lg:py-12;
}

.pricing-container > .pricing-card > .pricing-cat {
  @apply px-4 py-2 lg:px-6 lg:py-3 rounded-r-full bg-gradient-to-tr from-[#5c4519] to-[#4a2c0a] inline-block font-bold;
}

.pricing-container > .pricing-card .pricing-tag {
  @apply text-2xl md:text-[48px] font-bold mb-4 lg:mb-7;
}

.pricing-container > .pricing-card .pricing-tag > span {
  @apply text-[18px];
}

.pricing-container > .pricing-card .pricing-desc-list {
  @apply bg-heading-color py-6 px-4 space-y-2 md:space-y-4 text-base;
}

.pricing-container
  > .pricing-card
  .pricing-desc-list
  > .pricing-desc-list-inactive {
  @apply text-blog-summary line-through;
}

// <!-- CONTACT SECTION -->

.contact-form-container {
  @apply grid lg:grid-cols-2 gap-x-5 gap-y-8;
}

.contact-form-container > .form-cell {
  @apply flex flex-col gap-y-2 items-start col-span-2 lg:col-span-1;
}

.contact-form-container > .form-cell > label {
  @apply text-base md:text-[20px] font-medium mb-2;
}

.contact-form-container > .form-cell > input,
textarea {
  border: 2px solid #f8912250;
  @apply bg-black rounded-lg w-full py-3 focus:outline-none  focus:border-[#f7a131e3] focus:ring-0;
}

// <!-- RESUME SECTION -->

.resume-section-title {
  @apply flex items-center gap-x-2 text-fluid-18-24 font-bold mb-5 md:mb-8;
}

.resume-section-history-container {
  @apply relative pl-10 space-y-3 lg:space-y-6;
}

.resume-section-history-container::before {
  content: "";
  border: 2px solid #646464;
  @apply absolute inset-y-0 left-2 h-full w-[8px] rounded-lg;
}

.resume-section-history-item {
  @apply py-2;
}

.resume-section-history-item > .resume-card-timespan {
  border: 1.5px solid #454948;
  @apply p-[6px] text-sm font-bold inline-block rounded-md leading-none mb-3 relative;

  &::before {
    content: "";
    border: 2px solid #6e6c6c;
    @apply absolute -left-[36.5px] z-10 w-4 h-4 skew-x-12 transform
      rotate-[140deg] bg-primary-bg;
  }
}

.resume-section-history-card {
  border: 1.5px solid #292b2b;
  @apply p-4 lg:p-5 rounded-lg bg-heading-color;
}

.resume-section-history-card > .resume-section-history-card-title {
  @apply text-base md:text-lg font-bold;
}

.resume-section-history-card > .resume-section-history-card-subtitle {
  @apply text-[#8F8F8F] text-xs;
}

// <!-- BLOG SECTION -->

.blog-card-thumbnail > img {
  @apply w-full;
}

.blog-card-desc {
  @apply p-4 lg:p-6 bg-black;
}

.blog-card-desc > .blog-publish-time {
  @apply text-[#747474] text-xs  mb-2;
}

.blog-card-desc > .blog-title {
  @apply text-lg font-bold mb-4;
}

.blog-card-desc > .blog-summary {
  @apply text-sm text-blog-summary mb-4 lg:mb-6;
}

.blog-card-desc > .blog-author {
  @apply text-sm relative lg:ml-6 inline-block min-w-max;

  &::before {
    content: "";
    @apply absolute h-[1.5px] w-4 gradient-bg inset-y-0 top-1/2 -left-6 hidden lg:block;
  }

  &::after {
    content: "";
    @apply absolute h-[1.5px] w-4 gradient-bg inset-y-0 top-1/2 -right-6;
  }
}
