@tailwind base;
@tailwind components;
@tailwind utilities;

// REUSEABLE CLASS COMPONENTS
@layer components {
  .container {
    @apply max-w-[1320px] mx-auto bg-primary-bg;
  }

  .scroll-container {
    @apply pl-6 lg:pl-12  pt-5 pr-3 lg:pt-10 lg:pr-9 space-y-16 lg:space-y-32 pb-40;
  }

  .sidebar-width {
    @apply w-16 xl:w-sidebar;
  }

  .sidebar-width-pl {
    @apply pl-16 xl:pl-sidebar;
  }

  .sidebar-width-pr {
    @apply pr-16 xl:pr-sidebar;
  }

  .res-header-height {
    @apply h-24 xl:h-header-height;
  }

  .largest-text {
    @apply text-fluid-28-48 font-bold;
  }

  .logo-text {
    @apply text-fluid-25-32 font-bold;
  }

  .gradient-border {
    border: 2px solid transparent;
    border-image: linear-gradient(
        45deg,
        var(--gradient-yellow-start),
        var(--gradient-yellow-stop)
      )
      1;
  }

  .gradient-bg {
    @apply bg-gradient-to-r from-gradient-yellow-start to-gradient-yellow-stop;
  }

  .gradient-text {
    @apply bg-gradient-to-r from-gradient-yellow-start to-gradient-yellow-stop bg-clip-text text-transparent;
  }

  .gradient-filled-btn {
    @apply bg-gradient-to-tr from-gradient-yellow-start to-gradient-yellow-stop p-[1px] grid place-items-center;
    span {
      @apply text-white block px-6 py-3 text-base font-bold;
    }
  }

  .vertical-texts {
    writing-mode: vertical-lr;
    @apply text-[#A5A5A5] text-sm;
  }
}

@layer utilities {
  .white-shadow {
    box-shadow: 0 10px 25px #ffffff1a;
  }
}
