:root {
  // COLORS
  --primary-bg: #171b1a;
  --card-bg: #171b1a;
  --heading-color: #121414;
  --blog-summary: #979797;

  //   FONT-SIZES
  --fluid-28-48: clamp(1.75rem, 1.3152rem + 2.1739vi, 3rem);
  --fluid-25-32: clamp(1.5625rem, 1.4103rem + 0.7609vi, 2rem);
  --fluid-18-24: clamp(1.125rem, 0.9946rem + 0.6522vi, 1.5rem);
  --fluid-16-20: clamp(1rem, 0.913rem + 0.4348vi, 1.25rem);
  --fluid-10-16: clamp(0.625rem, 0.4946rem + 0.6522vi, 1rem);

  // LAYOUT SPACING
  --sidebar-spacing: 92px;
  --header-height: 105px;
}
